* { 
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #C7FFF5;
    font-family: system-ui, Arial, sans-serif; 
    padding-bottom: 70px;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.encabezado {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;            
    padding: 15px 30px;
    background-color: #87CEEB; 
    border-bottom: 1px solid #ddd;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 125px;
    height: auto;
}

.login {
    text-align: right;
}

.login p {
    margin: 0;
}

.pagina-central {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 20px;
}

.columan-principal, .barra-lateral {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 8px;
    border: 1px solid #ddd;
    height: fit-content;
}

.columan-principal {
    padding: 20px;
}

.barra-lateral {
    padding: 15px;
}

.barra-lateral ul {
    padding-left: 20px;
}

.barra-lateral li {
    margin-bottom: 10px;
}

.galeria-portadas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.galeria-portadas article {
    background: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 140px; 
}

.reproductor {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1E7B1E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 0;
}

.controles-reproduccion {
    display: flex;
    gap: 15px;
}

.info-cancion p {
    margin: 0;
    font-size: 0.9rem;
}

.cierre-pagina p {
    font-size: 0.8rem;
    color: white;
    margin: 0; 
    max-width: 250px; 
    text-align: right;
}


.barra-busqueda input{
    height: 35px;
    width: 70%;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;   
}

.barra-busqueda button{
    width: 25%;
    height: 35px;
    padding:10px 20px;
    background-color:#C7FFF5;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

nav{
    background-color: #FFFFFF;
    padding: 10px 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid rgba(255, 255, 255, 0.7);
}

nav a {
    margin: 0 10px; 
}